.brand{
    position: relative;

}

.mini-1200 {
    min-width: 1180px;
    margin: 0 auto;
}
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}
.plr100 {
    padding-left: 100px;
    padding-right: 100px;
}
.fa-angle-right{
    float: right;
}
